@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to bottom left, rgb(20, 4, 31), rgb(0, 0, 0));
}

header {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(20, 4, 31, 0.6));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.auth-buttons button {
  font-family: monospace;
  padding: 1px;
  height: 26px;
  width: 58px;
  background-color: #e7d6fce5; 
  border: none;
  border-radius: 6px;
  color: #000000;
  cursor: pointer;
}
.sign-out-button {
  width: 16px;
  height: 16px;
  filter: invert(1);
  background-image: url('./assets/exit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.sign-out-button::after {
  content: "SignOut";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  filter: invert(1);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 10px);
  margin-top: 8px;
  z-index: 1;
  pointer-events: none;
  transition: none;
}

.sign-out-button:hover::after {
  visibility: visible;
  animation: slideUpFadeIn 300ms ease forwards;
}

.sidebar {
  background: linear-gradient(
    135deg,
    rgba(45, 18, 95, 0.3) 0%,
    rgba(87, 47, 110, 0.3) 100%
  );
  box-shadow: 0 8px 24px rgba(44, 44, 47, 0.669); 
  border-radius: 12px; 
  color: rgba(210, 210, 210, 0.958); 
}

.logs {
  overflow-y: scroll;
}

.logs::-webkit-scrollbar {
  width: 0px;
  opacity: 0%;
  transition: all 300ms ease-in-out;
}

.logs::-webkit-scrollbar-track {
  background: transparent; 
}

.logs::-webkit-scrollbar-thumb {
  background: rgba(169, 112, 255, 0.264); 
  border-radius: 4px;
}

.logs::-webkit-scrollbar-thumb:hover {
  background: rgba(169, 112, 255, 0.519);
}

.logs:hover::-webkit-scrollbar {
  opacity: 100%;
  width: 4px;
}

.hero {
  background: linear-gradient(
    135deg,
    rgba(45, 18, 95, 0.3) 0%,
    rgba(87, 47, 110, 0.3) 100%
  );
  box-shadow: 0 8px 24px rgba(44, 44, 47, 0.669); 
  border-radius: 12px; 
  color: rgba(210, 210, 210, 0.958); 
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
