@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to bottom right, rgb(36, 35, 35), rgb(0, 0, 0));
}

header {
  background: linear-gradient(to right, rgb(26, 26, 26), rgb(20, 19, 19));
}

.auth-buttons button {
  padding: 1px;
  width: 62px;
  background-color: #4682B4; /* Metallic blue */
  border: none;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
}

.sign-out-button {
  width: 16px;
  height: 16px;
  filter: invert(1);
  background-image: url('./assets/exit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.sign-out-button:hover::after {
  content: "SignOut";
  position: absolute;
  filter: invert(1);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  top: 100%;
  left: 50%;
  transform: translate(-54%, -42%);
  margin-top: 8px;
  z-index: 1;
}
